<head>
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, user-scalable=1">
	<meta name="language" content="en">
		<meta name="description" content="Front End Project"> 
	<meta name="keywords" content="HTML, CSS, SVG, UI, UX, a11y">
	<meta name="twitter:url" content="https://yourname.com/">
	<meta name="twitter:title" property="og:title" content="Front End Project">
	<meta name="twitter:image" content="https://yourname.com/images/me/me-p.jpg">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@yourname">
	<meta property="og:url" content="https://yourname.com/">
	<meta property="og:title" content="Front end Project">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://yourname.come/images/me/me-p.jpg">
	<meta content="Welcome to Kada Guetouache’s Web site." name="description">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon.png">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">

	<!-- MAIN styles -->
	<link rel="stylesheet" href="styles/main.css">
	<title>Project Title</title>
</head>
