<head>
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, user-scalable=1">
	<meta name="language" content="en">
	<meta name="description" content="Freelance Front-End Web UI/UX Developer - Algeria"> 
	<meta name="keywords" content="freelancer, front-end web developer, HTML, CSS, SVG, UI, UX, a11y, Algeria">
	<meta name="twitter:url" content="https://kadaguetouache.tk/">
	<meta name="twitter:title" property="og:title" content="Kada Guetouache — Freelance Front-End UI/UX Developer">
	<meta name="twitter:image" content="https://kadaguetouache.tk/images/me/me-p.jpg">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@KadaGuetouache">
	<meta property="og:url" content="https://kadaguetouache.tk/">
	<meta property="og:title" content="Kada Guetouache — Freelance Front-End UI/UX Developer">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://kadaguetouache.tk/images/me/me-p.jpg">
	<meta content="Welcome to Kada Guetouache’s Web site." name="description">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">


     <link rel="stylesheet" href="styles/lib/bootstrap.min.css">
     <link rel="stylesheet" href="styles/lib/font-awesome.min.css">
     <link rel="stylesheet" href="styles/lib/animate.css">
     <link rel="stylesheet" href="styles/lib/owl.carousel.css">
     <link rel="stylesheet" href="styles/lib/owl.theme.default.min.css">
     <link rel="stylesheet" href="styles/lib/magnific-popup.css">

     <!-- MAIN styles -->
     <link rel="stylesheet" href="styles/main.css">
	<title></title>
</head>
