<!DOCTYPE html>
<html lang="en">
{% include "partials/head.njk" %}
<body>

<!-- Include a header -->
{% include "partials/header.njk" %}

<!-- Include a footer -->
{% include "partials/footer.njk" %}

</body>
</html>
